* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #3D3D3D;
	font-weight: 300;
	background: -webkit-linear-gradient( #F7F7F7, #EDEDED); /*gradient color for the all backgrounds*/
	background-color: #EDEDED;
}

.float-fix {
	clear: both;
}

.home {
	height: 100%;
	width: 100%;
	padding: 0 15%;
	position: fixed; 
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: .9em;

	.namewrap {
		margin-left: .5%;
	}

	.name {
		float: left;

		span {
			font-size: 1.2em;
		}
	}

	.logo {
		width: 13%;
		padding: 5%;
		background: url("../images/test-logo2.png");
		background-size: cover;
	}

	#lastname {
		margin: 0 0 0 6px;
	}
}
/*end of header*/

nav {
	margin-left: auto;
	order: 2;
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		margin: 0 12px 0 0;
		color: #303030;
	}

	.contact-button {
		padding: 3px 18px;
		border-radius: 2px;
		color: #387094 ;
		margin: 0;
		border: 2.3px solid #387094; ;
		transition: all .3s;

		&:hover {
			background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
		}
	}

}
/*end of nav*/

.hero {
	width: 100%;
	height: 70%;
	border-radius: 3px;
	box-shadow: 0 6px 6px #BABABA;
	position: relative;
	display: flex;
	align-items: center;
	background: -webkit-linear-gradient(left, #D1D1D1, #DBDBDB);
	background-color: #DBDBDB;

	.pic-wrap {
		background: url("../images/aboutpic.jpeg");
		background-position: center center;
		background-size: cover;
		border-radius: 3px 0 0 3px;
	}

	.introduction-title {/*holds the letter with two colors*/ 
		font-size: 1em;
		display: flex;
		align-items: center;
		margin-left: 26.2%;

		.halfStyle {/*important for the double color letter "A"*/
			font-size: 12em;
			font-weight: 400;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
    		float: left;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 2;
			position: absolute;
			overflow: hidden;
			color: #DBDBDB;
		}

		.hs-vertical-half:after {
			color: #303030;
		}
	}

	.end-of-spanword {/*div that holds "bout" to form about*/
		float: left;
		font-size: 1.5em;
		color: #303030;
	}

	.text-statement {/*hold the paragraph introduction*/
		padding: 0 2%;
		font-size: 1.2em;

		P {
			line-height: 140%;
		}
	}
}
/*end of the style for the intro class*/

.pic-wrap {
	height: 100%;
	width: 33.33%;
	position: absolute;
	left: 0;
	top: 0;
}

.portfoliobutton {
	font-size: 2em;
	text-align: center;
	padding: 2% 0;

	a {
		color: #303030;
	}
}

.main-content {
	background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED);
	background-color: #EDEDED;
	width: 100%;
	padding: 5% 15%;
	top: 100%;
	position: relative;

	#bigscreenhero {
		font-size: 2.8em;
		padding: 2% 0;
		margin-bottom: 2%
	} 

	#smallscreenhero {
		display: none;
	}
}

.portfolio-wrap {
	width: 33%;
	height: 295px;
	border-radius: 5px;
	box-shadow: 0 4px 4px #CFCFCF;
	float: left;
	position: relative;
	overflow: hidden;
	transition: all .85s ease;
	-webkit-transition-delay: .6s;
    transition-delay: .6s;

    .sitename {
    	float: right;
    	padding: 2.5%;
    	color: #FAFAFA;
    	font-size: 1.5em;
    	font-weight: bolder;
    	text-align: right;
    }

    .sitelogo {
    	width: 35%;
    	padding: 35%;
    	margin: 0 auto;
    }
}

.site {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	overflow: hidden;
	transition: .85s ease;
	-webkit-transition-delay: .6s;
    transition-delay: .6s;
    background-color: #666666;

    .sitename {
    	display: none;
    }
}

.site-link {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #303945;
	transition: all .85s ease;
	-webkit-transition-delay: .6s;
    transition-delay: .6s;
}

.portfolio-wrap:hover {/*important*/

	.site-link {
		height: 25%;
		top: -25%;
	}

	.site {
		top: -25%;
	}
}

#middlewrap {
	margin-left: .5%;
	margin-right: .5%;
}

#upperechelon {/*site one*/
	background: url("../images/home.jpeg");
	background-position: center center;
	background-size: cover;

	.sitelogo {
		background: url("../images/comp.png");
		background-position: center center;
		background-size: cover;		
	}
}

#uwa {/*site tow*/
	background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  	background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  	background-color: #55F5E9;

  	.sitelogo {
  		width: 80%;
  		padding: 0;
  		margin: 30% auto;
		font-size: 2em;
		font-weight: 600;
		text-align: center;
		color: #EDEDED;

		span {
			padding: 0  0 0px 50px;
			color: #202D85;
			font-weight: 600;
			border-top: 5px solid #EDEDED;
		}
  	}
}

#TBD {
	color: #FAFAFA;
}

#approach {
	height: 450px;
	margin: 8% 0 3% 0;
	float: left;
	background: #FAFAFA;

	.pic-wrap {
		background: url("../images/approachpic.jpg");
		background-position: center center;
		background-size: cover;	
	}

	.introduction-title {

		.hs-vertical-half:before {
			color: #FAFAFA; 
		}

		.hs-vertical-half:after {
			color: #387094; 
		}

		.end-of-spanword {
			color: #387094; 
		}
	}

	.text-statement {

		p {
		 	font-size: 1em;
		 	padding: 0 0 25px 0;
		}

		h3 {
			color: #387094;
		}

		.kit {
			width: 100%;
			float: left;
			display: flex;
			align-itmes: center;

			p{
				font-weight: 300;
				margin: 0;
			}

			.kitwrap {	
				width: 32%;
				display: flex;
				align-items: center;
				text-align: center;
				float: left;
				padding: 30px 5px;
				border: 2px solid;
				border-radius: 5px;
				color: #387094; 
				font-size: 1.8em;
				font-weight: 600;

				i{
					margin: 0 auto;
				}

				span {
					margin: 0 auto;
				}
			}

			.kitwrap:nth-child(2) {
				margin: 0 2%;
			}
		}

	}

}
/*end of approach*/

#contact-info {
	height: 450px;
	background: -webkit-linear-gradient(left, #E34342, #DB4642);
	background-color: #E34342;
	margin-bottom: 10%;

	.hs-vertical-half:before {
		color: #E34342;
	}

	.hs-vertical-half:after {
		color: #FAFAFA; 
	}

	.end-of-spanword {
		color: #FAFAFA;
	}

	.pic-wrap {
		background: url("../images/contact.jpg");
		background-size: cover;
	}

	p {
		margin: 6% 0;
	}

	.contacts {
		width: 80%;
		font-size: .7em;
		text-align: center;

		a {	
			width: 100%;
			float: left;
			text-decoration: none;
		}

		.reachby {
			padding: 8px 0;
			border-radius: 3px;
			border: 2px solid #383838;
  			background-color: #204775;
			margin-top: 3%;
			color: #D4D4D4;
			transition: all .5s;

			&:hover {
				background-color: #387094; 
			}

		}
	}

}

footer {
	width: 100%;
	text-align: center;

	a {
		text-decoration: none;
		margin: 0 auto;

	}

	h2 {
		margin: 0 0 10% 0;

		a {
			color: #303030;
		}

	}

	span {
		background-color: #387094;
		border-radius: 3px;
		color: #D4D4D4;
		display: inline-block;
		padding: 8px 15px;
	}
}

/* CSS for mobile version*/


@media screen and (max-width: 1024px) {/*mobile code for smaller tabs X laptop in portrait view*/
	.home {
		padding: 0 10%;
		height: 80%;
		position: relative;
	}

	header {
		.logo {
			width: 15%;
			padding: 7%;
		}
	}

	.hero {

		.introduction-title {
			margin-left: 27%;

			.halfStyle {
				font-size: 10em;
			}
		}

		.end-of-spanword {
			font-size: 1.2em;
		}

		.text-statement {
			padding: 1.5%;
			font-size: 1.2;
		}
	}

	.portfoliobutton {
		display: none;
	}

	.main-content {
		padding: 0 10%;
		top: 80%;
		position: absolute;
	}

	.portfolio-wrap {
		height: 280px;
		font-size: 1.2em;
	}

	.site {
		.sitename {
    		display: block;
    	}
	}

	#uwa {

  		.sitelogo {
  			width: 80%;
  			padding: 0;
  			margin: 18% auto;
			font-size: 1.8em;
  		}	
	}

	#TBD {
		.sitelogo {
			display: none;
		}

		.sitename {
			margin: 40% auto;
		}
	}

	.portfolio-wrap:hover {

		.site-link {
			height: 0;
			top: 0;
		}

		.site {
			top: 0;
		}
	}

	#contact-info {
		height: 420px;
		h1 {
			font-size: 1.7em;
		}
	}
}
/*end of mobile code for for smaller tablet/laptop hybrid in portrait view*/


@media screen and (max-width: 868px) { /*mobile code for tablets in portrait view*/

	.home {
		height: 600px;
		padding: 0 5%;
	}

	header {
		font-size: .8em;

		.name {
			display: none;
		}

		.logo {
			width: 20%;
			padding: 5%;
			background-position: center center;
		}
	}

	.hero {
		float: left;

		.introduction-title {
			margin-left: 27.5%;

			.halfStyle {
				font-size: 7em;
			}
		}

		.end-of-spanword {
			font-size: 1em;
		}

		.text-statement {
			padding: 0 1.5%;
			font-size: 1em;
		}
	}

	.portfoliobutton {
		display: none;
	}

	.pic-wrap {
		width: 33%
	}

	.main-content {
		padding: 0 5%;
		top: 96%;
	}

	.portfolio-wrap {
		height: 230px;

		.sitename {
    		padding: 2.5%;
    		color: #fff;
    		font-size: 1.2em;
    	}

    	.sitelogo {
    		width: 35%;
    		padding: 35%;
    	}
	}

	#approach {
		height: 350px;

		.text-statement {

			.kit {

				.kitwrap {	
					padding: 25px 3px;
					font-size: 1.5em;
				}
			}

		}

	}

	#contact-info {
		height: 330px;

		h1 {
			font-size: 1.7em;
		}
	}
}
/*end of mobile code for tablets*/

@media only screen and (max-width: 812px) {
	.home {
		height: 550px;
	}

	.main-content {
		top: 130%;
	}

}

@media only screen and (max-width: 800px) {
	.home {
		height: 800px;
	}

	.main-content {
		top: 60%;
	}

}

@media screen and (max-width: 768px) {/*mobile code for smaller devices in landscape view*/
	.home {
		height: 70%;
	}

	header {

		.logo {
			width: 25%;
			padding: 5%;
		}
	}

	.hero {

		.introduction-title {
			margin-left: 28%;

			.halfStyle {
				font-size: 6em;
			}
		}

		.end-of-spanword {
			font-size: .8em;
		}

		.text-statement {
			padding: 0 1.5%;
			font-size: 1em;
		}

	}

	.main-content {
		top: 60%;
		padding: 0 5%;

		#bigscreenhero {
			display: none;
		} 

		#smallscreenhero {
			display: block;
			font-size: 2em;
			padding: 20px 0;
		}
	}

	.portfolio-wrap {
		width: 49.5%;
		margin-top: 1%;
		height: 220px;

		.sitename {
    		padding: 2.5%;
    		color: #fff;
    		font-size: 1.2em;
    	}

    	.sitelogo {
    		width: 22.5%;
    		padding: 22.5%;
    	}
	}

	#middlewrap {
		margin-left: 1%;
		margin-right: 0;
	}

	#uwa {/*site tow*/

  		.sitelogo {
  			width: 80%;
  			padding: 0;
  			margin: 10% auto;
			font-size: 1.5em;
  		}	
	}

	#approach {
		height: 330px;

		.text-statement {

			.kit {

				.kitwrap {	
					padding: 20px 0;
					font-size: 1.2em;
				}
			}
		}
	}

	#contact-info {
		height: 280px;

		h1 {
			font-size: 1.2em;
			font-weight: bolder;
			margin-bottom: 2%;
		}

		p {
			margin: .5% 0;
		}

		.contacts {
			width: 70%;

			.reachby {
				padding: 4px 0;
				margin-top: 4%;
			}
		}	
	}

	footer {
		float: left;

		h2 {
			margin: 5% 0;
			a {
				color: #303030;
			}
		}	
	}

}
/*end of landscape view for smaller devices*/


@media screen and (max-width: 736px) {
	.home {
		height: 100%;
	}

	.main-content {
		top: 90%;
	}
}

@media screen and (max-width: 548px) {/*mobile code for portrait view on smaller devices*/
	.home {
		height: 400px;
		padding: 0 3.5%;
		position: fixed;
	}

	header {
		padding: 3% 0;


		.logo {
			width: 30%;
			padding: 8%;
		}

	}

	nav {
		a {
			margin: 0 9px 0 0;
		}

		.contact-button {
			padding: 2px 15px;
		}
	}

	.hero {
		display: inline;
		background: transparent;

		h2 {
			font-weight: 300;
		}


		.introduction-title {
			margin-left: 0%;
			width: 100%;

			.halfStyle {
				font-size: 3.5em;
			}

			.hs-vertical-half:before {
				color: #387094; 
			}

			.hs-vertical-half:after {
				color: #387094; 

			}

			.end-of-spanword {
				color: #387094; 
			}

		}

		.end-of-spanword {
			font-size: 1.1em;
		}
		
		.text-statement {
			padding: 2% 2% 0 5%;
			font-size: 1em;
		}
	} 

	.pic-wrap {
		display: none;
	}

	.main-content {
		top: 380px;
		padding: 0 3.5%;

		#smallscreenhero {
			font-size: 1.5em;
		}

		a {
			display: inline-block;
			width: 100%;
		}
	}

	#uwa {

  		.sitelogo {
  			width: 80%;
  			padding: 0;
  			margin: 5% auto;
			font-size: 1.1em;
  		}	
	}

	#TBD {
		.sitelogo {
			display: none;
		}

		.sitename {
			margin: 10% auto;
		}
	}


	.portfolio-wrap {
		width: 100%;
		height: 165px;
		margin-top: 1.5%;
		border-radius: 8px;

		.sitename {
    		padding: 2%;
    		color: #3D3D3D;
    		font-size: 1.2em;
    		font-weight: bolder;
    	}

    	.sitelogo {
    		width: 13%;
    		padding: 13%;
    	}

	}

	#middlewrap {
		margin-left: 0;
		margin-right: 0;
	}

	#approach {
		height: 350px;
		margin: 10% 0 5% 0;

		h3 {
			display: none;
		}

		.introduction-title {

			.hs-vertical-half:before {
				color: #387094; 
			}
		}

		.text-statement {
			p {
				padding: 2px;
			}

			.kit {

				padding: 5px 0;
				.kitwrap {	
					padding: 25px 0;
					font-size: 1.5em;
				}
			}
		}

	}


	#contact-info {
		height: 400px;

		h1 {
			font-size: 1.4em;
			font-weight: 600;
		}

		.introduction-title {
			display: none;

		}

		.text-statement {
			margin: 5% 0;

			p {
				margin: 3% 0;
			}
	
		}

		.contacts {
			width: 95%;
			margin: 15% auto;

			.reachby {
				margin: 2% 0;
				padding: 8px 0;
			}
		}
	}

	footer {
		h2 {
			font-size: .8em;
			margin-bottom: 9%;
		}
	}


}
/*end of portrait view on smaller devices*/

