* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Work Sans", georgia, arial, sans-serif;
  color: #303030;
  background: -webkit-linear-gradient(#F7F7F7, #EDEDED);
  /*gradient color for the all backgrounds*/
  background-color: #EDEDED; }

.float-fix {
  clear: both; }

.home {
  height: 100%;
  width: 100%;
  padding: 0 15%;
  position: fixed; }

header {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: .9em; }
  header .namewrap {
    margin-left: .5%; }
  header .name {
    float: left; }
    header .name span {
      font-size: 1.2em; }
  header .logo {
    width: 13%;
    padding: 5%;
    background: url("../images/test-logo2.png");
    background-size: cover; }
  header #lastname {
    margin: 0 0 0 6px; }

/*end of header*/
nav {
  margin-left: auto;
  order: 2;
  display: flex;
  align-items: center; }
  nav a {
    text-decoration: none;
    margin: 0 12px 0 0;
    color: #303030; }
  nav .contact-button {
    padding: 5px 13px;
    border-radius: 2px;
    margin: 0;
    border: 2.3px solid #303030;
    transition: all .3s; }
    nav .contact-button:hover {
      background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
      background-color: #D4D4D4;
      color: #FF4231; }

/*end of nav*/
.intro {
  width: 100%;
  height: 70%;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
  background-color: #D4D4D4; }
  .intro .pic-wrap {
    background: url("../images/aboutpic.jpeg");
    background-position: center center;
    background-size: cover; }
  .intro .introduction-title {
    /*holds the letter with two colors*/
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-left: 26.2%; }
    .intro .introduction-title .halfStyle {
      /*important for the double color letter "A"*/
      font-size: 12em;
      position: relative;
      overflow: hidden;
      white-space: pre;
      display: inline;
      float: left; }
    .intro .introduction-title .hs-vertical-half:before {
      display: block;
      display: inline;
      z-index: 2;
      position: absolute;
      overflow: hidden;
      color: #FF3E34; }
    .intro .introduction-title .hs-vertical-half:after {
      color: #fff;
      opacity: .7; }
  .intro .end-of-spanword {
    /*div that holds "bout" to form about*/
    float: left;
    font-size: 1.5em;
    color: #fff;
    opacity: .7; }
  .intro .the-intro {
    /*hold the paragraph introduction*/
    padding: 0 2%;
    font-size: 1.2em; }

/*end of the style for the intro class*/
.pic-wrap {
  height: 100%;
  width: 33.33%;
  position: absolute; }

.portfoliobutton {
  font-size: 2em;
  text-align: center;
  padding: 2% 0; }
  .portfoliobutton a {
    color: #303030; }

.main-content {
  background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED 50%, #D1D1D1, #D4D4D4 50%);
  background-color: #EDEDED;
  width: 100%;
  height: 160%;
  padding: 5% 15%;
  top: 100%;
  position: relative; }
  .main-content h1 {
    padding: 4% 0; }

.portfolio-wrap {
  width: 33%;
  height: 295px;
  border-radius: 3px;
  float: left;
  position: relative;
  overflow: hidden;
  float: left;
  transition: all .85s ease;
  -webkit-transition-delay: .6s;
  transition-delay: .6s; }
  .portfolio-wrap .sitename {
    float: right;
    padding: 2.5%;
    color: #fff;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: right; }
  .portfolio-wrap .sitelogo {
    width: 40%;
    padding: 40%;
    margin: 0 auto; }

.site {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  overflow: hidden;
  transition: .85s ease;
  -webkit-transition-delay: .6s;
  transition-delay: .6s; }
  .site .sitename {
    display: none; }

.site-link {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #303945;
  transition: all .85s ease;
  -webkit-transition-delay: .6s;
  transition-delay: .6s; }

.portfolio-wrap:hover .site-link {
  height: 25%;
  top: -25%; }
.portfolio-wrap:hover .site {
  top: -25%; }

#middlewrap {
  margin-left: .5%;
  margin-right: .5%; }

#upperechelon {
  background: url("../images/home.jpeg");
  background-position: center center;
  background-size: cover; }
  #upperechelon .sitelogo {
    background: url("../images/comp.png");
    background-position: center center;
    background-size: cover; }

#uwa {
  background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background-color: #55F5E9; }

/* CSS for mobile version*/
@media screen and (max-width: 1024px) {
  /*mobile code for smaller tabs X laptop in portrait view*/
  .home {
    padding: 0 10%;
    height: 88%;
    position: relative; }

  header .logo {
    width: 15%;
    padding: 7%; }

  .intro .introduction-title {
    margin-left: 27%; }
    .intro .introduction-title .halfStyle {
      font-size: 10em; }
  .intro .end-of-spanword {
    font-size: 1.2em; }
  .intro .the-intro {
    padding: 1.5%;
    font-size: 1.2; }

  .portfoliobutton {
    display: none; }

  .main-content {
    padding: 0 10%;
    top: 85%;
    position: absolute;
    background: -webkit-linear-gradient(#F7F7F7, #EDEDED);
    /*gradient color for the all backgrounds*/
    background-color: #EDEDED; }

  .portfolio-wrap {
    height: 280px; }

  .site .sitename {
    display: block; } }
/*end of mobile code for for smaller tablet/laptop hybrid in portrait view*/
@media screen and (max-width: 848px) {
  /*mobile code for tablets in portrait view*/
  .home {
    height: 85%;
    padding: 0 5%; }

  header {
    font-size: .8em; }
    header .name {
      display: none; }
    header .logo {
      width: 22%;
      padding: 6%;
      background-position: center center; }

  .intro .introduction-title {
    margin-left: 27.5%; }
    .intro .introduction-title .halfStyle {
      font-size: 7em; }
  .intro .end-of-spanword {
    font-size: 1em; }
  .intro .the-intro {
    padding: 0 1.5%;
    font-size: 1em; }

  .portfoliobutton {
    display: none; }

  .pic-wrap {
    width: 33%; }

  .main-content {
    padding: 0 5%;
    top: 80%; }

  .portfolio-wrap {
    height: 230px; } }
/*end of mobile code for tablets*/
@media screen and (max-width: 748px) {
  /*mobile code for smaller devices in landscape view*/
  .home {
    height: 97%; }

  header .logo {
    width: 25%;
    padding: 5%; }

  .intro .introduction-title {
    margin-left: 28%; }
    .intro .introduction-title .halfStyle {
      font-size: 6em; }
  .intro .end-of-spanword {
    font-size: .8em; }
  .intro .the-intro {
    padding: 0 1.5%;
    font-size: 1em; }

  .main-content {
    top: 90%;
    padding: 0 5%; }

  .portfolio-wrap {
    height: 200px; } }
/*end of landscape view for smaller devices*/
@media screen and (max-width: 548px) {
  /*mobile code for portrait view on smaller devices*/
  .home {
    height: 55%;
    padding: 0 1%;
    position: fixed; }

  header {
    padding: 3% 0; }
    header .logo {
      width: 30%;
      padding: 8%; }

  nav a {
    margin: 0 9px 0 0; }
  nav .contact-button {
    padding: 3px 10px; }

  .intro {
    display: inline; }
    .intro .introduction-title {
      margin-left: 0%;
      width: 100%; }
      .intro .introduction-title .halfStyle {
        font-size: 4.5em; }
      .intro .introduction-title .hs-vertical-half:after {
        color: #303030; }
      .intro .introduction-title .end-of-spanword {
        color: #303030; }
    .intro .end-of-spanword {
      font-size: .8em; }
    .intro .the-intro {
      padding: 5% 2% 0 5%;
      font-size: 1.3em; }

  .pic-wrap {
    width: 0;
    display: none; }

  .portfoliobutton {
    display: none; }
    .portfoliobutton a {
      display: none; }

  .main-content {
    position: relative;
    top: 75%;
    padding: 0 1%; }

  .portfolio-wrap {
    width: 100%;
    height: 15%; }

  #middlewrap {
    margin-left: 0;
    margin-right: 0; } }
/*end of portrait view on smaller devices*/

/*# sourceMappingURL=styles.css.map */
