* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Work Sans", georgia, arial, sans-serif;
	color: #303030;
	background: -webkit-linear-gradient( #F7F7F7, #EDEDED); /*gradient color for the all backgrounds*/
	background-color: #EDEDED;
}

.float-fix {
	clear: both;
}

.home {
	height: 100%;
	width: 100%;
	padding: 0 10%;
	position: fixed; 
}

header {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: .9em;

	.namewrap {
		margin-left: .5%;
	}

	.name {
		float: left;

		span {
			font-size: 1.2em;
		}
	}

	.logo {
		width: 13%;
		padding: 5%;
		background: url("../images/test-logo2.png");
		background-size: cover;
	}

	#lastname {
		margin: 0 0 0 6px;
	}
}
/*end of header*/

nav {
	margin-left: auto;
	order: 2;
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		margin: 0 12px 0 0;
		color: #303030;
	}

	.contact-button {
		padding: 5px 13px;
		margin: 0;
		border: 2.3px solid #303030;
		transition: all .3s;

		&:hover {
			background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
			background-color: #D4D4D4;
			color: #FF4231;
		}
	}

}
/*end of nav*/

.intro {
	width: 100%;
	height: 75%;
	position: relative;
	display: flex;
	align-items: center;
	//background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
	background-color: #D4D4D4;

	.pic-wrap {
		background: url("../images/aboutpic.jpeg");
		background-position: center center;
		background-size: cover;
	}

	.introduction-title {/*holds the letter with two colors*/ 
		font-size: 1em;
		display: flex;
		align-items: center;
		margin-left: 24.5%;

		.halfStyle {/*important for the double color letter "A"*/
			font-size: 17em;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
    		float: left;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 2;
			position: absolute;
			overflow: hidden;
			color: #FF3E34;
		}

		.hs-vertical-half:after {
			color: #fff;
			opacity: .7;
		}

	}

	.end-of-spanword {/*div that holds "bout" to form about*/
		float: left;
		font-size: 2em;
		color: #fff;
		opacity: .7;
	}

	.the-intro {/*hold the paragraph introduction*/
		padding: 0 3%;
		font-size: 1.3em;
	}
}
/*end of the style for the intro class*/
.pic-wrap {
	height: 100%;
	width: 33.33%;
	position: absolute;
	background-color: blue;
}

.main-content {
	background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED 50%,  #D1D1D1, #D4D4D4 50%);
	background-color: #EDEDED;
	width: 100%;
	height: 100%;
	padding: 0 10%;
	top: 100%;
	position: relative; 
}


/* CSS for mobile version*/

@media screen and (max-width: 1200px) {
	.home {
		
	}

	.intro {
		background-color: yellow;

		.introduction-title {
			margin-left: 27%;

			.halfStyle {
				font-size: 10em;
			}

		}
	}

	.pic-wrap {
		width: 35%;
	}

}

@media screen and (max-width: 968px) {

	.home {

	}

	.intro {
		background-color: pink;
	}

}

@media screen and (max-width: 748px) {
	.home {
		padding: 0 2%;
	}

	.intro {
		background-color: purple;
	}

}

@media screen and (max-width: 648px) {
	.home {
		padding: 0 2%;
	}

	header {
		font-size: .8em;

		.name {
			display: none;
		}

		.logo {
			width: 30%;
			height: 100px;
		}

	}

	nav {
		a {
			margin: 0 8px 0 0;
		}

		.contact-button {
			padding: 3px 10px;
		}
	}

	.intro {
		background-color: orange;
	} 


}

